<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.1" targetFramework="net461" />
  <package id="Autofac.Configuration" version="3.1.0" targetFramework="net461" />
  <package id="BoDi" version="1.5.0" targetFramework="net461" />
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net461" />
  <package id="Gherkin" version="19.0.3" targetFramework="net461" />
  <package id="NUnit" version="3.13.1" targetFramework="net461" />
  <package id="Selenium.Support" version="2.35.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.35.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="96.0.4664.4500" targetFramework="net461" />
  <package id="SpecFlow" version="3.9.40" targetFramework="net461" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net461" />
  <package id="SpecFlow.NUnit" version="3.9.40" targetFramework="net461" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="3.9.40" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>